.navbar {
    background-color: rgba(42, 33, 57, 0.98);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /*font-style: italic;*/
    letter-spacing: .15rem;

    /*color: #fff5f6;*/
    /*text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75*/

    /*color: #72f1b8;*/
    /*text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;*/

    color: #fdfdfd;
    text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem .75rem .5rem .75rem;
}

.brand {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.brandName {
    margin-left: 0.7rem;
    font-size: 1.5rem;
}

.toggle {
    display: none;
}

.toggleIcon {

}

.collapse {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
}

.navLink {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}