.blogContent ul {
    list-style-type: revert;
    padding-left: revert;
}

.blogContent p {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.blogContent pre {
    margin-bottom: .75rem;
    margin-bottom: .75rem;
}