.blogContent ul {
    list-style-type: revert;
    padding-left: revert;
}

.blogContent p {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.blogContent pre {
    margin-bottom: .75rem;
    margin-bottom: .75rem;
}

.blogContent img {
    border-radius: 0.5rem;
}

.blogContent iframe {
    width: 100%;
}