@import "openSansFonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h0 {
    @apply py-2 font-semibold text-4xl text-black md:text-6xl dark:text-white;
  }
  h1,.h1 {
    @apply py-2 font-semibold text-2xl text-black md:text-4xl dark:text-white;
  }
  h2,.h2 {
    @apply py-2 font-semibold text-xl text-black md:text-3xl dark:text-white;
  }
  h3,.h3 {
    @apply py-2 font-semibold text-lg text-black md:text-2xl dark:text-white;
  }
  h4,.h4 {
    @apply py-2 font-semibold text-base text-black md:text-lg dark:text-white;
  }
  h5,.h5 {
    @apply py-2 font-semibold text-sm text-black md:text-base dark:text-white;
  }
  h6,.h6 {
    @apply py-2 font-semibold text-xs text-black md:text-sm dark:text-white;
  }
  body {
    @apply text-sm md:text-base text-slate-600 dark:text-slate-300 dark:font-light dark:bg-slate-800;
  }
  a {
    @apply hover:underline text-black dark:text-white;
  }
  p {
    @apply pb-2;
  }
}

