@import "openSansFonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h0 {
    @apply my-2 text-4xl font-semibold md:text-6xl;
  }
  h1,.h1 {
    @apply my-2 text-2xl font-semibold md:text-4xl;
  }
  h2,.h2 {
    @apply my-2 text-xl font-semibold md:text-3xl;
  }
  h3,.h3 {
    @apply my-2 text-lg font-semibold md:text-2xl;
  }
  h4,.h4 {
    @apply my-2 text-base md:text-lg;
  }
  h5,.h5 {
    @apply my-2 text-sm md:text-base;
  }
  h6,.h6 {
    @apply my-2 text-xs text-lg;
  }
  body {
    @apply text-sm md:text-base;
  }
  a {
    @apply hover:underline;
  }
}

